<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.om.snipit">

    <uses-feature android:name="android.hardware.camera" />
    <!--<uses-feature android:name="android.hardware.camera.autofocus" />-->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <!--<uses-permission android:name="android.permission.USE_CREDENTIALS" />-->

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".classes.Snipit_Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--android:largeHeap="true"-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="36e136351325660be3ac92f428de565fcbdc3033" />

        <!--<activity-->
        <!--android:name=".activities.Launcher_Activity"-->
        <!--android:noHistory="true"-->
        <!--android:theme="@android:style/Theme.NoDisplay">-->
        <!--</activity>-->

        <!--<activity android:name="com.om.snipit.activities.Login_Activity" />-->

        <activity
            android:name="com.om.snipit.activities.Books_Activity"
            android:label="@string/app_name"
            android:theme="@style/Books_Activity_Theme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.om.snipit.activities.Snippets_Activity"
            android:theme="@style/Snippets_Activity_Theme" />

        <activity
            android:name="com.om.snipit.activities.Snippets_Gallery_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Snippets_Gallery_Activity_Theme" />

        <activity
            android:name="com.om.snipit.activities.Create_Book_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Create_Book_Activity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.om.snipit.activities.Create_Snippet_Activity"
            android:label="@string/create_snippet_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Create_Snippet_Activity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.om.snipit.activities.View_Snippet_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/View_Snippet_Activity_Theme" />

        <activity
            android:name="com.om.snipit.activities.Crop_Image_Activity"
            android:theme="@style/Crop_Image_Activity_Theme" />

        <activity
            android:name="com.om.snipit.activities.Paint_Snippet_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/View_Snippet_Activity_Theme" />

        <activity
            android:name="com.om.snipit.activities.Settings_Activity"
            android:theme="@style/Settings_Activity_Theme" />

        <activity android:name="com.om.snipit.activities.Open_Source_Libs_Activity" />

        <activity
            android:name=".activities.BarcodeCapture_Activity"
            android:theme="@style/Barcode_Capture_Activtity" />

        <!--<activity-->
        <!--android:name="com.google.android.gms.ads.AdActivity"-->
        <!--android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"-->
        <!--android:theme="@android:style/Theme.Translucent" />-->

    </application>

</manifest>
