<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ttco.bookmarker">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".classes.Atomic_Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="36e136351325660be3ac92f428de565fcbdc3033" />

        <activity
            android:name=".activities.Books_Activity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.Create_Book_Activity"
            android:label="@string/create_book_activity_title"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activities.Bookmarks_Activity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchResults_Activity" />
        </activity>

        <activity
            android:name=".activities.SearchResults_Activity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".activities.Create_Bookmark_Activity"
            android:label="@string/create_bookmark_activity_title"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.View_Bookmark_Activity"
            android:theme="@style/View_Bookmark_Activity_Theme" />

        <activity android:name=".activities.Crop_Image_Activity" />


    </application>

</manifest>
